Доброго дня

Хтось надіслав запит для оновлення пароля на електронну адресу: {{ email }}.
Перейдіть за наступним посиланням:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

У випадку якщо ви забули логін до Django Boards: {{ user.username }}

Якщо натискання на приведене посилання не спрацьовує, скопіюйте його до адресного поля свого браузера та натисніть ввод.

В тому випадку якщо ви отримали цього листа помилково, скоріше за все інший користувач намагається використати вашу
електронну адресу для оновлення паролю. В цьому випадку наведених дій виконувати не потрібно, ви можете прогінорувати
цей лист.

Дякуємо,

Команда Django Boards